CompileFlags:
  Add:
    - -std=c++17
    - -I/Users/danilo_tato/coding/c++/xmas/include
    - -I/Users/danilo_tato/coding/c++/xmas/scripts/include
    - -I/Users/danilo_tato/coding/c++/xmas/include/ui
    - -I/opt/homebrew/Cellar/sfml@2.6/2.6.0/include
    - -L/opt/homebrew/Cellar/sfml@2.6/2.6.0/lib
    - -lsfml-graphics
    - -lsfml-window
    - -lsfml-audio
    - -lsfml-system
    - -I/opt/homebrew/Cellar/nlohmann-json/3.12.0/include